@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
}
header .box-header {
  margin-top: 30px;
  width: 80%;
  height: 10vh;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: space-around;
  background: linear-gradient(to right, #4247A2 0%, #52B095 100%);
}
header .navbar {
  display: flex;
  width: 40%;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
}
header .navbar a {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
.box-banner .box-titulo {
  height: 50vh;
  width: 35vw;
}
.box-banner h2 {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
.box-banner p {
  padding: 1rem;
  font-size: 1.2rem;
  color: #04031C;
}

.box-btn {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-agenda {
  border-radius: 10px;
  border: solid 1px #1173D4;
  height: 5vh;
  width: 30vh;
  background: linear-gradient(to right, #1173D4 0%, #1173D4 100%);
  color: #FFFFFF;
}

.btn-saiba {
  border-radius: 10px;
  border: solid 1px #1173D4;
  height: 5vh;
  width: 20vh;
  background: #F9FAFB;
  color: #1173D4;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  list-style: disc;
}

.box-informativo {
  display: flex;
  text-align: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  margin: 0 9rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-informativo h2 {
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  color: #04031C;
}

.cards-exames {
  height: 22vh;
  width: 17vw;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  color: #F9FAFB;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.cards-exames h4 {
  color: #04031C;
  padding: 1rem;
}
.cards-exames p {
  font-size: 1rem;
}

.box-prevencaoFeminina {
  background-color: #FDEFEF;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
}
.box-prevencaoFeminina h2 {
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(to right, rgba(249, 1, 111, 0.5411764706) 54%, rgba(147, 8, 133, 0.6196078431) 61.96%, rgba(208, 56, 170, 0.7529411765) 75.48%, #851C87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.box-cards {
  width: 55vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card-prevencao {
  border-radius: 16px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 16vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #FFFFFF;
}
.card-prevencao h5 {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-prevencao li {
  align-items: center;
  text-align: start;
  justify-content: center;
  list-style: disc inside;
  font-size: 0.8rem;
  padding: 5px 20px;
}

.box-prevencaoMasculina {
  background-color: #e8f1fc;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
}
.box-prevencaoMasculina .titulo-Prev-Masc {
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #3373D2 16.04%, #6F95C7 33.14%, #7BB5F5 54.51%, #0074EE 68.5%, #5EA7EF 87.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.box-Alertas {
  height: 70vh;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0;
  gap: 3rem;
}
.box-Alertas h2 {
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #1173D4 25.96%, #33CC73 74.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card-alertasImportantes {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 68vw;
  gap: 30px 110px;
}

.card-AutoExameMama {
  width: 30vw;
  border: solid 2px #AD346A;
  background: #F9D5E5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
}
.card-AutoExameMama p {
  font-size: 0.9rem;
  color: #AD346A;
}
.card-AutoExameMama h4 {
  color: #AD346A;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-AutoExameTesticulos {
  width: 30vw;
  border: solid 2px #2769A3;
  background: #CFE2F3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
}
.card-AutoExameTesticulos p {
  font-size: 0.9rem;
  color: #2769A3;
}
.card-AutoExameTesticulos h4 {
  color: #2769A3;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-Vacinacao {
  width: 30vw;
  border: solid 2px #244A2D;
  background: #D4EDDA;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
}
.card-Vacinacao p {
  font-size: 0.9rem;
  color: #244A2D;
}
.card-Vacinacao h4 {
  color: #244A2D;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-saudeMental {
  width: 30vw;
  border: solid 2px #976C00;
  background: #FFE9C2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
}
.card-saudeMental p {
  font-size: 0.9rem;
  color: #976C00;
}
.card-saudeMental h4 {
  color: #976C00;
  font-weight: bold;
  display: flex;
  align-items: center;
}

footer {
  background-color: #313461;
  display: flex;
  align-items: center;
  height: 60vh;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  background-size: contain;
}

.p-footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: 4vh;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 40px;
  gap: 1rem;
}

.box-footer {
  margin: 0;
  height: 80%;
  width: 100%;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: 2px solid #9FABBC;
}
.box-footer h5 {
  font-size: 1rem;
  color: #FFFFFF;
  padding: 15px;
}
.box-footer p {
  font-size: 0.9rem;
  color: #FFFFFF;
  font-weight: 300;
  padding: 10px;
}

.box-rodape {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}

.coluna-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 32vh;
  width: 22vw;
}/*# sourceMappingURL=style.css.map */